* {
	margin: 0px;
	padding: 0;
}

html, body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	letter-spacing: 0;
	background-color: #E8E8E8;
}

#container{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	background-color: #FFFFFF;
	padding-bottom: 30px;
}
input,select,textarea{
	padding: 5px;
	font-size:100%;
}
.fred{
	color: #FF0004;
	font-weight: normal;
}

#footer{
	text-align: center;
	padding: 15px;
}

/*********************************************
 * フォーム用
 *********************************************/
 .hide{
	 display:none;
 }
 .def{
 }
.fm_table{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.fm_tr{
	overflow: hidden;
	border-bottom: 4px dotted #DDDDDD;
}
.fm_th{
	float: left;
	width: 150px;
	padding: 10px;
	text-align: right;
	font-weight: bold;
}
.fm_td{
	float: left;
	width: 510px;
	padding: 10px;
}

.fm_button{
	text-align: center;
	padding: 15px;
}
